#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]
#server-id                       = 1
port                            = 3306
socket                          = /tmp/mysql.sock
log-error                       = /var/lib/mysql/error.log
datadir                         = /var/lib/mysql
default-storage-engine          = Innodb
big_tables

back_log                        = 50
max_connections                 = 100
max_connect_errors              = 10
table_open_cache                = 2048
max_allowed_packet              = 8M
binlog_cache_size               = 1M
max_heap_table_size             = 8M
read_buffer_size                = 1M
read_rnd_buffer_size            = 8M
sort_buffer_size                = 1M
join_buffer_size                = 1M
thread_cache_size               = 8
thread_concurrency              = 8
query_cache_size                = 8M
query_cache_limit               = 1M
ft_min_word_len                 = 4
thread_stack                    = 240K
tmp_table_size                  = 8M
#log-bin                         = mariadb-bin
#binlog_format                   = mixed
#slow_query_log
#long_query_time                 = 2
key_buffer_size                 = 4M
bulk_insert_buffer_size         = 4M

innodb_file_per_table           = 1
innodb_file_format              = Barracuda
innodb_file_format_max          = Barracuda
innodb_additional_mem_pool_size = 8M
innodb_buffer_pool_size         = 16M
innodb_data_file_path           = ibdata1:10M:autoextend
innodb_write_io_threads         = 2
innodb_read_io_threads          = 2
innodb_thread_concurrency       = 4
innodb_flush_log_at_trx_commit  = 1
innodb_log_buffer_size          = 2M
innodb_log_file_size            = 64M
innodb_log_files_in_group       = 3
innodb_max_dirty_pages_pct      = 90
innodb_lock_wait_timeout        = 120

open-files-limit = 8192

# this is only for the mysqld standalone daemon
[mysqld]

#
# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]

